
/* CSS */






  .horizontal-scroll-wrapper {
      position: relative;
    overflow-y:hidden ;
    overflow-x: auto;
    display: flex;
    padding: 10px;

  }

  .horizontal-scroll-wrapper > div{
      padding: 5PX;
  }

  .horizontal-scroll-wrapper > div >button {
    background: #ffffff;
    border-radius: 999px;
    box-shadow: #ffffff 0 10px 20px -10px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 120px;
    border:1px solid grey

  }


  .horizontal-scroll-wrapper > div >  .button-black
  {


    background: #000000;
    box-shadow: #020000 0 10px 20px -10px;
    color: #ffffff;




}


.horizontal-scroll-wrapper::-webkit-scrollbar{
display: none;
}





