.login_reg_container{

 
  
}

.pwd_field{
    position: relative;
}


.show-hide{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }


  .login__page{

    width: 100%;
    object-fit:fill;
    position: relative;
  }
 

  .crop__img{


    width: 30px;
    height: 50px;
  }

 